<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="stylesheet" href="css/style.css">
</head>
<body>
	{{ content | safe }}

	<script>
	  if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
		  if (!user) {
			window.netlifyIdentity.on("login", () => {
			  document.location.href = "/admin/";
			});
		  }
		});
	  }
	</script>
</body>
</html>