---
layout: base.njk
---
<h3>Partner: {{title}}</h3>

<p>Contact: {{contact_person}} <a href="mail:{{contact_email}}">{{contact_email}}</a></p>

<img src="{{thumbnail}}"></img>

<main>
  {{ description | safe }}
</main>